
#main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header-img{
    width: 200px;
    height: auto;


}
#form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 400px) {
   #nav-bar{
    width: 100%;
  }
}
